.main-header {
  display: flex;
  padding: 12px;
  font-size: 12px;
  align-items: center;
  &__icon {
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .empty {
    flex: 1;
  }
}
